{% extends 'base.html.twig' %}

{% block title %}AnimaProgram index{% endblock %}

{% block body %}
    <h1>AnimaProgram index</h1>

    <div class="row">
        {% for anima_program in anima_programs %}
            <div class="col-sm-3">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        <div class="card-title">
                            {{ anima_program.id }} - {{ anima_program.programName }}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="btn-group">
                            <a class="btn btn-outline-info fa fa-eye " href="{{ path('anima_program_show', {'id': anima_program.id}) }}"> show</a>
                            <a class="btn btn-outline-warning fa fa-pencil" href="{{ path('anima_program_edit', {'id': anima_program.id}) }}"> edit</a>
                        </div>
                    </div>

                </div>
            </div>
        {% else %}
            ops, nada encontrado
        {% endfor %}

        <!-- anima list -->
        <div class="row">
            {% for anima in animas %}
                <div class="col-6 col-lg-3">
                    <div class="card text-white bg-light mb-3">
                        <img style="object-fit: cover;" class="card-img-top" height="200px" src="{{anima.image}}">
                        <div class="card-header">
                            <div class="card-title">
                                {{ anima.title }} - {{ anima.score }}
                            </div>
                        </div>
                        <div class="card-body">
                            {{ anima.description_low }}
                        </div>

                    </div>
                </div>
            {% else %}
                ops, nada encontrado
            {% endfor %}
        </div>

    </div>

    <a class="" href="{{ path('anima_program_new') }}">Create new</a>
{% endblock %}
